@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  --font-body: "Lexend Deca", sans-serif;
  --font-head: "Inter", sans-serif;
  --font-size: 15px;

  --clr-font-400: hsla(0, 0%, 100%, 0.6);
  --clr-font-700: hsla(0, 0%, 100%, 0.75);
  --clr-font-900: hsl(0, 0%, 100%);
  --clr-bg-primary: hsl(233, 47%, 7%);
  --clr-bg-secondary: hsl(244, 38%, 16%);
  --clr-accent: hsl(277, 64%, 61%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-body);
  font-size: var(--font-size);
  color: var(--clr-font-900);
}

.flex-flow {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: var(--clr-bg-primary);
  height: 100svh;
  flex-direction: column;
}

.container {
  margin: auto;
  background: var(--clr-bg-secondary);
  padding: 3rem;
}

.column-left {
  flex-direction: column;
  gap: 3rem;
}

.column-left > h1 {
  font-family: var(--font-head);
  font-size: calc(var(--font-size) * 3);
}

.column-left > h1 > span {
  color: var(--clr-accent);
}

.column-left > p {
  color: var(--clr-font-700);
  line-height: calc(var(--font-size) * 1.5);
}

.row-bot {
  width: 100%;
  justify-content: space-between;
  padding: 2rem 2rem 0 2rem;
}

.row-bot h2 {
  font-size: calc(var(--font-size) * 2);
}

.row-bot span {
  color: var(--clr-font-400);
  text-transform: uppercase;
}

/* Styles for the footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
